<br><br><br>

<br><br><br>


<div class="container-fluid">
    <!--
    <div class="col-md-1">
        <a href="" class="btn btn-sm btn-primary ml-3 mb-3">regresar</a>
    </div>
    -->
    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10" style="margin-right: auto;margin-left: auto;"s>
        <div class="card">

            <!-- HEADER-->
            <div class="card-header" style="background-color:rgba(84, 157, 252, 0.993); color: #FFFF;">
                <h4><strong> ENCUESTA </strong></h4>
            </div>
            
            <!-- BODY-->
            <div class="card-body">

                

                <div class="col-md-10" style="margin-right: auto;margin-left: auto;">

                    <!-- ENCUESTADO -->
                    <div class="form-group col-md-5">
                        <label for="encuestado"><strong>Encuestado</strong></label>
                        <select class="form-control" id="encuestado">
                            <option value=""> Seleccione </option>
                            <option value="">Ana Contreras (c.i. 19.304.395)</option>                             
                            <option value="">José Michelena (c.i. 13.004.391)</option> 
                            <option value="">María Romero  (c.i. 8.372.105)</option> 
                        </select>
                    </div>
                    
                    <!-- INSTRUCCIONES -->
                    <div class="form-group col-md">
                        <label for="instrucciones"><strong>Instrucciones</strong></label>
                        <p class="" id="instrucciones">
                            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>  
                    <br>

                    <!-- PREGUNTA COMBO BOX -->
                    <div class="card mb-4">
                        <div class="card-header" style="background-color:#E2DAEB;">
                            <label for="combobox">¿from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source?</label>
                        </div>
                        <div class="card-body">
                            <select class="form-control col-md-5" id="combobox">
                                <option value=""> Seleccione </option>  
                                <option value="">Opción 1</option>                             
                                <option value="">Opción 2</option> 
                                <option value="">Opción 3</option> 
                            </select>
                        </div>
                    </div>

                    <!-- PREGUNTA RADIO -->
                    <div class="card mb-4">
                        <div class="card-header" style="background-color:#E2DAEB;">
                            <label for="radio">¿Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto?</label>
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" id="radio1" type="radio" value="radio1" name="radios">
                                <label class="form-check-label" for="radio1">Option 1</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="radio2" type="radio" value="radio2" name="radios">
                                <label class="form-check-label" for="radio2">Option 2</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="radio3" type="radio" value="radio2" name="radios">
                                <label class="form-check-label" for="radio3">Option 3</label>
                            </div>
                        </div>
                    </div>

                    <!-- PREGUNTA CHECKBOX -->
                    <div class="card mb-4">
                        <div class="card-header" style="background-color:#E2DAEB;">
                            <label for="checkbox">because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful</label>
                        </div>
                        <div class="card-body">
                            <div class="form-check checkbox">
                                <input class="form-check-input" id="check1" type="checkbox" value="">
                                <label class="form-check-label" for="check1">Option 1</label>
                            </div>
                            <div class="form-check checkbox">
                                <input class="form-check-input" id="check2" type="checkbox" value="">
                                <label class="form-check-label" for="check2">Option 2</label>
                            </div>
                            <div class="form-check checkbox">
                                <input class="form-check-input" id="check3" type="checkbox" value="">
                                <label class="form-check-label" for="check3">Option 3</label>
                            </div>
                        </div>
                    </div>

                    <!-- PREGUNTA TEXTAREA -->
                    <div class="card mb-4">
                        <div class="card-header" style="background-color:#E2DAEB;">
                            <label for="textarea">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</label>
                        </div>
                        <div class="card-body">
                            <textarea class="form-control" id="textarea-input" name="textarea-input" rows="3" placeholder="Su respuesta..."></textarea>
                        </div>
                    </div>

                </div>                
            </div>

            <!-- FOOTER-->
            <div class="card-footer">
                <button class="btn btn-sm btn-success mr-2" type="submit">Enviar</button>
                <a href=""><button class="btn btn-sm btn-danger" type="button">Cancelar</button></a>            
            </div>

        </div>
    </div>
</div>
