<div class="pageHeader">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Estudios</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
</div>

<div fxLayout="row wrap" fxLayoutGap="40px grid">
  <div fxFlex="33%" fxFlex.xs="100%" *ngFor="let estudio of estudios; let rowIndex = index">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>{{estudio.nombreEstudio}}</mat-card-title>
        <mat-card-subtitle>estudio subtitulo</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/../assets/img/survey.png">
      <mat-card-content>
        <p>
          descripcion de estudio
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Ver Muestra</button>
        <button mat-button color="primary">Ver Resultados</button>
        <button mat-button color="primary">Iniciar</button>
        <button mat-button color="primary">Terminar</button>        
      </mat-card-actions>
    </mat-card>
  </div>
</div>
