<form [formGroup]="presentacionForm" novalidate>

    <h4>Presentación</h4>
      <div class="form-group">
        <mat-form-field class="full-width" appaerance="outline">
          <mat-label>Nombre:</mat-label>
          <input formControlName="nombre" matInput required [(ngModel)]="presentacion2.nombre"/>
          <mat-error *ngIf="presentacionForm.get('nombre').errors?.required">
            Campo obligatorio
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width" appaerance="outline">
          <mat-label>Descripción:</mat-label>
          <input formControlName="descripcion" matInput required [(ngModel)]="presentacion2.descripcion"/>
            <mat-error *ngIf="presentacionForm.get('descripcion').errors?.required">
              Campo obligatorio
            </mat-error>
        </mat-form-field>
      </div>

    <button type="submit"  mat-raised-button color="primary" (click)="addPresentacion(presentacion2.nombre, presentacion2.descripcion)" [disabled]="presentacionForm.invalid">Añadir Presentación</button>
  </form>
