<div class="pageHeader">
    <mat-toolbar>
      <span class="fill-remaining-space"></span>
      <span>Registro</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
  </div>
  <form novalidate [formGroup]="registroForm" name="registroForm" (ngSubmit)="onSubmit()"> 
  
    
  
    <div class="nombres-input">
			<mat-form-field class="full-width" appearance="fill">
				<mat-label>Primer Nombre</mat-label>
				<input formControlName="primerNombre"  matInput required />
				<mat-error *ngIf="registroForm.get('primerNombre').errors?.required">
					Campo requerido
				</mat-error>
			</mat-form-field>
        
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Segundo Nombre</mat-label>
        <input formControlName="segundoNombre"  matInput/>
      </mat-form-field>
		</div>
		
		<div class="apellidos-input">
			<mat-form-field class="full-width" appearance="fill">
				<mat-label>Primer Apellido</mat-label>
				<input formControlName="primerApellido"  matInput required />
				<mat-error *ngIf="registroForm.get('primerApellido').errors?.required">
					Campo requerido
				</mat-error>
			</mat-form-field>
			
			<mat-form-field class="full-width" appearance="fill">
				<mat-label>Segundo Apellido</mat-label>
				<input formControlName="segundoApellido"  matInput/>
			</mat-form-field>
		</div>
  
    <div class="edadMinima-input">
      <mat-form-field appearance="fill">
				<mat-label>Choose a date</mat-label>
				<input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" required>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="registroForm.get('fechaNacimiento').errors?.required">
          Campo requerido
        </mat-error>
      </mat-form-field>
			
			<mat-form-field class="full-width" appearance="fill">
        <mat-label>Genero</mat-label>
        <mat-select formControlName="genero" matInput>
          <mat-option value="hombre">Hombre</mat-option>
          <mat-option value="Mujer">Mujer</mat-option>
          <mat-option value="otro">Otro</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div>
      
  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Estado Civil</mat-label>
        <mat-select formControlName="estadoCivil" matInput>
          <mat-option value="soltero/a">Soltero/a</mat-option>
          <mat-option value="casado/a">Casado/a</mat-option>
          <mat-option value="divorciado/a">Divorciado/a</mat-option>
          <mat-option value="viudo/a">Viudo/a</mat-option>
        </mat-select>
      </mat-form-field>
    </div>    
    
    <div class="lugar-input">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado" atInput required>
          <mat-option *ngFor="let estado of estados" [value]="estado._id">
            {{estado._nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Municipio</mat-label>
        <mat-select formControlName="municipio" matInput required>
          <mat-option *ngFor="let municipio of municipios" [value]="municipio._id">
            {{municipio._nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="nivelEconomico">
    
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nivel Económico</mat-label>
        <mat-select formControlName="nivelEconomicoDto" matInput>
          <mat-option *ngFor="let nivelEconomico of nivelEconomicoArray" [value]="nivelEconomico">
            {{ nivelEconomico._descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Disponibilidad en Línea</mat-label>
        <mat-select formControlName="disponibilidadEnLinea" matInput>
          <mat-option value="si">Si</mat-option>
          <mat-option value="no">No</mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>
  
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nivel Académico</mat-label>
      <mat-select formControlName="nivelAcademicoDto" matInput>
        <mat-option *ngFor="let nivelAcademico of nivelAcademicoArray" [value]="nivelAcademico">
          {{ nivelAcademico._descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
        
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Ocupación</mat-label>
      <mat-select formControlName="ocupacionDto" matInput>
        <mat-option *ngFor="let ocupacion of ocupaciones" [value]="ocupacion">
          {{ocupacion._nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <div class="cantidadPersonas">
    
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nº de Personas</mat-label>
        <input type="number" formControlName="cantidadPersonas" matInput/>
      </mat-form-field>
      
    </div>
    <!-- <div class="datosHijos">
  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Genero Hijo</mat-label>
        <mat-select formControlName="generoHijos" matInput>
          <mat-option value="hombre">Masculino</mat-option>
          <mat-option value="Mujer">Femino</mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Edad Mínima Hijo/a</mat-label>
        <input type="number" formControlName="edadMinimaHijos" matInput/>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Edad Máxima Hijo/a</mat-label>
        <input type="number" formControlName="edadMaximaHijos" matInput/>
      </mat-form-field>
      
    </div> -->
  
    <div></div>
  
    <button  mat-raised-button color="primary" type="submit" [disabled]="registroForm.invalid">
        Enviar
    </button> 
  
  </form>
  {{ registroForm.value | json }}