<div class="container">

  <div class="pageHeader">
    <mat-toolbar>
      <span class="fill-remaining-space"></span>
      <span>Estudios</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
  </div>
  <div class="mat-elevation-z8">

    <!-- Filtro -->
    <div class="filter-area">
      <span class="material-icons search-icon">search</span>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda">
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreEstudio}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicia </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaInicioEstudio | date: "dd/MM/yyyy"}} </td>
      </ng-container>

       <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Termina </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaFinEstudio | date: "dd/MM/yyyy"}} </td>
      </ng-container>

      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
        <td mat-cell *matCellDef="let element"> {{element.estatusEstudio}} </td>
      </ng-container>

      <!-- TODO: preguntar para qué es este botón -->
      <ng-container matColumnDef="acciones">
        <th class="accion-header" mat-header-cell *matHeaderCellDef>?</th>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button [routerLink]="['/encuestado/respuestas-encuesta', row._id]">
            <mat-icon class="launch-icon mdl-js-button mdl-js-ripple-effect">
            launch
          </mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>

</div>
