<html>
    <head></head>
    <body>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estudio of estudios">
                <th scope="row">{{ estudio.id }}</th>
                <td>{{ estudio.title }}</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
    </body>
</html>
