<br><br><br>

<br><br><br>


<div class="container">

  <div class="row text-left mt-5">
    <div class="col-5">
      <div class="row">
        <h2 id="Encabezado">Estudios</h2>
        <a id="hand" class="btn"><i class="fas fa-retweet fa-lg" style="color:rgba(84, 157, 252, 0.993);"></i></a>
      </div>
    </div>


    <div class="container" style="margin-bottom: 30px;">
      <table id="dataTable" #dataTable class="table table-bordered table-hover" style="background-color: #FDF4E3;">
        <thead class="thead" style="background-color:rgba(84, 157, 252, 0.993); color: #FFFF;">
          <tr class="text-center">
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Fin</th>
            <th scope="col">Estatus</th>
            <th scope="col">Responder encuesta</th>
          </tr>
        </thead>
        <tbody>
        <tbody class="tbody">
          <tr *ngFor="let estudio of estudios">
            <th class="text-center" scope="row">{{estudio.idEstudio}}</th>
            <td class="text-center">{{estudio.nombreEstudio}}</td>
            <td class="text-center">{{estudio.fechaInicioEstudio | date: "dd/MM/yyyy"}}</td>
            <td class="text-center">{{estudio.fechaFinEstudio | date: "dd/MM/yyyy"}}</td>
            <td class="text-center">{{estudio.estatusEstudio}}</td>  
            <td>
            <div align="center" class="col-sm-4">
                 <button type="submit" class="btn btn-info" [routerLink]="['/encuestado/respuestas-encuesta', estudio._id]" ><i class="fas fa-check"></i></button>
            </div>

            </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
