<br><br><br>

<br><br><br>


<div class="container">

  <div class="row text-left mt-5">
    <div class="col-5">
      <div class="row">
        <h2 id="Encabezado">Preguntas</h2>
        <a id="hand" class="btn"><i class="fas fa-retweet fa-lg" style="color:rgba(84, 157, 252, 0.993);"></i></a>
      </div>

      <a href="#" class="btn btn-info ml-2" data-toggle="modal" data-target="#Modal">Agregar <i
          class="fas fa-plus-circle"></i></a>
    </div>


    <div class="container" style="margin-bottom: 30px;">
      <table id="dataTable" #dataTable class="table table-bordered table-hover" style="background-color: #FDF4E3;">
        <thead class="thead" style="background-color:rgba(84, 157, 252, 0.993); color: #FFFF;">
          <tr class="text-center">
            <th scope="col">id</th>
            <th scope="col">Descripción</th>
            <th scope="col">Tipo de Pregunta</th>
            <th scope="col">Estatus</th>
            <th scope="col">Acciones</th>


          </tr>
        </thead>
        <tbody>
        <tbody class="tbody">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>
              <div class="row">
                <div align="center" class="col-sm-4">
                  <a class="btn btn-primary text-white" style="cursor: pointer;"><i class="fas fa-pencil-alt"></i></a>
                </div>
                <div align="center" class="col-sm-4">
                  <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>