<div class="container">

  <!-- <div class="row text-left mt-5">
    <div class="col-5">
      <div class="row">
        <h2 id="Encabezado">Estudios Sugeridos</h2>
        <a id="hand" class="btn"><i class="fas fa-retweet fa-lg" style="color:rgba(84, 157, 252, 0.993);"></i></a>
      </div>
    </div>
  </div> -->
  <!-- Encabezado -->
  <div class="pageHeader">
    <mat-toolbar>
      <span class="fill-remaining-space"></span>
      <span>Estudios Sugeridos</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
  </div>
  <!-- <div class="botones-opciones">
  </div> -->

  <div class="mat-elevation-z8">

    <!-- Filtro -->
    <div class="filter-area">
      <span class="material-icons search-icon">search</span>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda">
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" matSort>


      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element._nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element._fechaInicio | date: "dd/MM/yyyy"}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Fin </th>
        <td mat-cell *matCellDef="let element"> {{element._fechaFin | date: "dd/MM/yyyy"}} </td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element._usuario._nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
        <td mat-cell *matCellDef="let element"> {{element._estatus}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th class="accion-header" mat-header-cell *matHeaderCellDef> Asignar pregunta </th>
        <mat-cell *matCellDef="let row">
          <button class="asignar-icon mdl-js-button mdl-js-ripple-effect" mat-icon-button (click)='cloneEstudio(row._id)'>
            <mat-icon>note_add</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="asignarPreguntas">
        <th mat-header-cell *matHeaderCellDef> Asignar Preguntas</th>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button [routerLink]="['/admin/asignacionpreguntas', row._id]">
            <mat-icon>note_add</mat-icon>
          </button>
        </mat-cell>
      </ng-container> -->



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
</div>


