div.pageHeader{
    margin-top: 100px;
    margin: 0px 40px;
    margin-bottom: 10px;
}
.fill-remaining-space{
    flex: 1 1 auto;
}
table {
    width: 90%;
    margin: 40px auto;
    margin-top: 0px;
}
.mat-elevation-z8{
    width: 90%;
    margin: 20px auto;
}
.headerEstudios{
    margin: 30px auto;
}