<html>
    <div class="pageHeader">
      <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>Solicitudes Pendientes</span>
        <span class="fill-remaining-space"></span>
      </mat-toolbar>
    </div>

    <div class="mat-elevation-z8">

      <!-- Filtro -->
      <div class="filter-area">
        <span class="material-icons search-icon">search</span>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda">
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Columna ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td id="columna-id" mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>

        <!-- Column Descripción -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td id="columna-descripcion" mat-cell *matCellDef="let element"> {{element._descripcion}} </td>
        </ng-container>

        <!-- Columna de Acciones -->
        <ng-container matColumnDef="acciones">
          <!-- TODO: preguntar qué hace este botón -->
          <th class="accion-header" mat-header-cell *matHeaderCellDef>?</th>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="crearEstudio()">Realizar <mat-icon class="realizar-boton">
                build_circle
              </mat-icon>
            </button>

          </mat-cell>
        </ng-container>

        <!--
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
      -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>

</html>
