<body>
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg fixed-top">
          <a href="#" class="navbar-brand">
            <img src="../../../assets/img/MercadeoUCAB-logon.png" width="60" height="60" class=" vertical-align: middle" alt="">
        
            <span class="letra">MERCADEOUCAB</span>
          </a>
    
        </nav>
      </div>

      <!-- <app-encuestado></app-encuestado> -->
      <!-- <app-cliente></app-cliente>-->
      <!--<app-analista></app-analista>-->
      <!-- <app-admin></app-admin> -->
      <router-outlet></router-outlet>
  
</body>
