<html>
  <body>
    <!--
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Standard form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    -->
    
    <div class="solicitudEst">
      <form>
        <div class="texto">
          <label for="formGroupExampleInput"><b>Descripción</b></label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="texto">
          <label for="formGroupExampleInput2"><b>Edad Mínima</b></label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="texto">
          <label for="formGroupExampleInput2"><b>Edad Máxima</b></label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="col-auto my-1">
          <label class="mr-sm-2" for="inlineFormCustomSelect"><b>Nivel Económico</b></label>
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="hombre">Bajo</option>
            <option value="mujer">Medio</option>
            <option value="otros">Alto</option>
          </select>
        </div>
        <div class="col-auto my-1">
          <label class="mr-sm-2" for="inlineFormCustomSelect"><b>Genero</b></label>
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="hombre">Cualquiera</option>
            <option value="hombre">Hombre</option>
            <option value="mujer">Mujer</option>
            <option value="otros">Otros</option>
          </select>
        </div>
        <div class="col-auto my-1">
          <button type="submit" class="btn btn-success">Enviar</button>
        </div>
      </form>
    </div>
    
  </body>
</html>