/*
.contenidoSolicitud{
    font-size: 30px;
    position: absolute;
    top: 150px;
    left: 650px;
 
}
form{
    width: 500px;
}
.solicitudEst{
    position: absolute;
    top: 250px;
    left: 400px;
    max-width: 900px;
    background-color: darkgray;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 7px;
    border-top: solid 0px;
    width: 500px;

}
.texto{
    padding: 15px;
    width: 470px;
}
.col-auto{
   width: 470px;
}
body{
 
    width: 500px;
}
*/