div.pageHeader{
    margin: 0px 40px;
}
.fill-remaining-space{
    flex: 1 1 auto;
}
.mat-elevation-z8{
    width: 80%;
    margin: 20px auto;
}
.chart1{
    display: block;
    width: 400px;
    height: 400px;
}