<div class="container" style="margin-top: 100px">
  <mat-card style="max-width: 720px" class="mx-auto">
    <mat-card-title>Recuperacion de Contraseña</mat-card-title>
    <form name="envioForm" [formGroup]="envioForm">
      <div class="form-group">
        <mat-form-field class="w-100" appaerance="outline">
          <mat-label>Ingrese el correo:</mat-label>
          <input formControlName="correo" matInput required [(ngModel)]="usuario._correoelectronico"/>
          <mat-error *ngIf="envioForm.get('correo').errors?.required">
            Falta llenar el correo electronico
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-center" style="margin-left: auto; margin-right: auto">
        <button class="mx-auto" mat-flat-button color="primary" [disabled]="envioForm.invalid" (click)="envioPassword(usuario)">Enviar</button>
      </div>
    </form>
  </mat-card>
</div>