<form [formGroup]="preguntaForm" novalidate>

    <h4>Nueva Pregunta</h4>
    <h5>Seleccione una subcategoria asociada:</h5>
    <div class="fields">
      <mat-form-field appearance="fill">
        <mat-label>--Subcategoría--</mat-label>
        <mat-select formControlName="subcategoriaDto">
          <mat-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria._id">
            {{ subcategoria._nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h5>Seleccione el tipo de pregunta:</h5>
    <div class="fields">
      <mat-form-field appearance="fill">
        <mat-label>--Tipo de Pregunta--</mat-label>
        <mat-select formControlName="tipoPregunta">
          <mat-option value='Abierta'>Abierta</mat-option>
          <mat-option value='Verdadero o Falso'>Verdadero o Falso</mat-option>
          <mat-option value='Escala'>Escala</mat-option>
          <mat-option value='Selección Simple'>Selección Simple</mat-option>
          <mat-option value='Selección Múltiple'>Selección Múltiple</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width" appaerance="outline">
        <mat-label>Descripción:</mat-label>
        <input formControlName="descripcion" matInput required />
        <mat-error *ngIf="preguntaForm.get('descripcion').errors?.required">
          Falta llenar la descripción
        </mat-error>
      </mat-form-field>
    </div>
  
    <!--Para las opciones de Seleccion Simple y Multiple-->
    <div
      *ngIf="preguntaForm.get('tipoPregunta').value == 'Selección Simple' || preguntaForm.get('tipoPregunta').value == 'Selección Múltiple'">
      <div formArrayName="respuestas">
      <mat-label>Opciones:</mat-label>
      <button mat-mini-fab color="plus" (click)="addResp()"><i class="fas fa-plus"></i></button>
      <button mat-mini-fab color="warn" (click)="deleteRespuesta(i)"><i class="fas fa-minus"></i></button>
      <div *ngFor="let resp of preguntaForm.controls['respuestas'].controls; let i=index" [formGroupName]="i">
        <div class="form-group">
          <mat-form-field class="full-width" appaerance="outline">
            <mat-label>Opcion {{i+1}}</mat-label>
            <input formControlName="nombre" matInput required />
          </mat-form-field>
        </div>
      </div>
      </div>
    </div>
  
    <button type="submit" mat-raised-button color="primary" [disabled]="preguntaForm.invalid">Añadir</button>
  </form>
  
