# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Emanuel\Documents\NetBeansProjects\DS-MercadeoUCAB-Version v1 (Emanuel)\mercadeoUcab-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
