<div class="container">

  <div class="row text-left mt-5">
    <div class="col-5">
      <div class="row">
        <h2 id="Encabezado">Solicitudes</h2>
        <a id="hand" class="btn"><i class="fas fa-retweet fa-lg" style="color:rgba(84, 157, 252, 0.993);"></i></a>
      </div>
    </div>


    <!-- <div class="container" style="margin-bottom: 30px;">
      <table id="dataTable" #dataTable class="table table-bordered table-hover" style="background-color: #FDF4E3;">
        <thead class="thead" style="background-color:rgba(84, 157, 252, 0.993); color: #FFFF;">
          <tr class="text-center">
            <th scope="col">id</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Genero</th>
            <th scope="col">Edad Minima</th>
            <th scope="col">Edad Maxima</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">Usuario</th>
            <th scope="col">Producto</th>
            <th scope="col">Crear el estudio</th>
          </tr>
        </thead>
        <tbody>
        <tbody class="tbody">
          <tr *ngFor="let solicitud of solicitudes">
            <th class="text-center" scope="row">{{solicitud._id}}</th>
            <td class="text-center">{{solicitud._descripcion}}</td>
            <td class="text-center">{{solicitud._genero}}</td>
            <td class="text-center">{{solicitud._edadMinima }}</td>
            <td class="text-center">{{solicitud._edadMaxima}}</td> 
            <td class="text-center">{{solicitud._estadoCivil}}</td>   
            <td class="text-center">{{solicitud._usuario._nombre}}</td> 
            <td class="text-center">{{solicitud._producto._nombre}}</td> 
            <td>
            <div align="center" class="col-sm-4">
                 <button type="submit" class="btn btn-info" (click)="openModal(id)" ><i class="fas fa-plus"></i></button>
              </div>
            </td>
        </tbody>
      </table>
    </div> -->
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element._descripcion}} </td>
      </ng-container>
  
      <ng-container matColumnDef="genero">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Genero </th>
        <td mat-cell *matCellDef="let element"> {{element._genero}} </td>
      </ng-container>

      <ng-container matColumnDef="edadMinima">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Edad Minima </th>
        <td mat-cell *matCellDef="let element"> {{element._edadMinima}} </td>
      </ng-container>

      <ng-container matColumnDef="edadMaxima">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Edad Maxima </th>
        <td mat-cell *matCellDef="let element"> {{element._edadMaxima}} </td>
      </ng-container>

      <ng-container matColumnDef="estadoCivil">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Estado Civil </th>
        <td mat-cell *matCellDef="let element"> <div *ngIf="!element._estadoCivil">No se especificó</div></td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element._usuario._nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="producto">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Producto </th>
        <td mat-cell *matCellDef="let element"> {{element._producto._nombre}} </td>
      </ng-container>
      
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button routerLink="crearEstudio" (click)="createEstudio(row._id)"><mat-icon>note_add</mat-icon></button>
        </mat-cell>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
</div>

